//VARIABLES

$color-body: #333333;
$color-primary: #95e1d3;
$color-secondary: #f38181;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$Kaushan-Script: 'Kaushan Script', cursive;