main {
    color: $color-body;
    h3 {
        font-size: 24px;
        font-family: $Kaushan-Script;
        font-weight: 300;
        text-align: center;
    }
    h2 {
        text-transform: uppercase;
        font-size: 30px;
        font-family: $montserrat;
        text-align: center;
        margin-bottom: -5px;
    }
    h4 {
        text-transform: uppercase;
        font-family: $montserrat;
        // font-weight: 500;
        letter-spacing: 1px;
        font-size: 14px;
    }
    i {
        color: $color-primary;
        font-size: 36px;
        padding: 0 20px;
    }
    p, span {
        font-family: $roboto;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.5;
    }
    .wrapper {
        max-width: 1260px;
        margin: 0 auto;
        .title {
            margin-bottom: 10px;
        }
        & > p {
            text-align: center;
            font-family: $roboto;
            margin-bottom: 80px;
            max-width: 800px;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.5;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 1200px) {
    main {
        .wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
        .logos {
            img {
                max-width: 800px;
            }
        }
    }
}
@media (max-width: 860px) {
    main {
        .wrapper {
            max-width: 750px !important;
        }
        .services {
            .flex {
                & > div {
                    width: 48%;
                    &:nth-child(3), &:nth-child(4) {
                        padding: 0;
                    }
                }
                &::after {
                    display: none;
                }
            }
        }
        .logos {
            padding: 60px 20px 40px;
            img {
                max-width: auto !important;
                width: 100%;
            }
        }
        .what-people-say {
            .wrapper > .flex > .flex{
                width: 100%;
                &:nth-child(1n + 3) {
                    display: none;
                }
            }   
        }
    }
}
@media (max-width: 740px) {
    main {
        .about {
            .wrapper {
                max-width: 600px;
                margin: 0 auto;
                .flex {
                    flex-wrap: wrap;
                    & > div {
                        width: 100%;
                        max-height: 230px;
                        img {
                            max-height: 230px;
                            min-height: 230px;
                        }
                        div {
                            min-height: 230px !important;
                            max-height: 230px;
                        }
                        margin-bottom: 40px;
                        &:nth-last-child(1) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .services {
            .wrapper {
                max-width: 600px;
                .flex {
                    & > div {
                        width: 100%;
                        padding: 0 0 40px;
                        &:last-child {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .design {
            img {
                width: 80%;
            }
            img:last-child {
                display: none;
            }
        }
        .service {
            .wrapper {
                .flex {
                    flex-wrap: wrap;
                    img {
                        margin-bottom: 40px;
                    }
                    img, & > div {
                       width: 100%; 
                    }
                }
            }
        }
        .quotes, .users {
            .wrapper {
                .flex {
                    flex-wrap: wrap;
                    img {
                        margin: 0 auto 30px;
                    }
                    div {
                        width: 100%;
                    }
                }
            }
        }
        .who-we-are {
            .wrapper {
                max-width: 500px !important;
                .flex {
                    flex-wrap: wrap;
                    & > div {
                        width: 100%;
                        margin-bottom: 40px;
                        .portrait, img {
                            max-height: 400px;
                            min-height: 400px;    
                        }
                        
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .what-we-do {
            .wrapper {
                padding: 80px 20px;
            }
            .gallery {
                 grid-template-columns: auto auto;
                 img {
                     width: 50vw;
                 }
                 img:nth-last-child(3) {
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 2;
                    grid-row-end: 4;
                 }
            }
        }
        .blog {
            .wrapper {
                .flex {
                    flex-wrap: wrap;
                    & > div {
                        width: 80%;
                        margin: 0 auto 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}